.panel {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333;
    width: 250px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    transform: scale(0.95);
    transition-duration: 0.5s;
}
.panel.show {
    transform: scale(1);
    opacity: 1;
}
.panel > .header {
    width: 250px;
    height: 40px;
    position: relative;
    cursor: pointer;
    background: linear-gradient(#555, #555, #333);
    border-radius: 10px;
}
.panel > .header:hover {
    opacity: 0.9;
}
.panel > .header > i {
    margin: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
}
.panel > .header > i.node-icon {
    background-image: url(./images/node_icon.png)
}
/*.panel > .header > i.arrow-icon {
    background-image: url(./images/arrow_icon.png)
}*/
.panel > .header > span {
    font-size: 13px;
    display: inline-block;
    position: absolute;
    left: 43px;
    top: 12px;
}
.panel > .table {
    display: table;
    margin: 0;
    width: 100%;
    margin: 8px 0;
}
.panel > .table > .row {
    display: table-row;
    font-size: 11px;
}
.panel > .table > .row:nth-child(even) {
    background: rgba(0,0,0,0.1)
}
.panel > .table > .row > div {
    display: table-cell;
    padding: 4px 2px;
    height: 31px;
    vertical-align: middle;
}
.panel > .table > .row > div.name {
    text-align: right;
    padding-left: 8px;
    padding-right: 5px;
    border-left: 4px solid red;
}
.panel > .table > .row > div.changebar {
    padding-left: 5px;
    padding-right: 5px;
}
.panel > .table > .row > div.value {
    width: 30px;
    padding-right: 10px;
}
.panel > .table > .row > div > input, .panel > .table > .row > div > select {
    width: 100%;
    height: 100%;
    background: #333;
    background: linear-gradient(#222, #292929);
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 0 4px;
    color: white;
}
.panel > .table > .row > div > button {
    width: 100%;
    height: 100%;
}